## kaggle형식으로 뉴스주식데이터연계하여 학습테스트데이터셋 만들기

In [1]:
# DB package
import psycopg2
import sqlalchemy
from sqlalchemy import create_engine

In [ ]:
import pandas as pd

In [9]:
engine_postgresql = create_engine("postgresql://kdtuser:kdtuser2345@121.128.163.208:25432/kdt_ai")

#### 시간측정ㅡ

In [4]:
import math 
import time
# start = time.time()
# math.factorial(100000) 
# end = time.time() 
# print(f"{end - start:.5f} sec")

In [2]:
from transformers import AutoModel, AutoTokenizer

/opt/conda/envs/albert/lib/python3.7/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
kb_albert_model_path = "kb-albert-char-base-v2"
pt_model = AutoModel.from_pretrained(kb_albert_model_path)
tokenizer = AutoTokenizer.from_pretrained(kb_albert_model_path)

# inference text input to sentence vector of last layer
text = '방카슈랑스는 금융의 겸업화 추세에 부응하여 금융산업의 선진화를 도모하고 금융소비자의 편익을 위하여 도입되었습니다.'
pt_inputs = tokenizer(text, return_tensors='pt')
pt_outputs = pt_model(**pt_inputs)[0]
print(pt_outputs)

Some weights of the model checkpoint at kb-albert-char-base-v2 were not used when initializing AlbertModel: ['predictions.LayerNorm.weight', 'predictions.bias', 'predictions.dense.bias', 'predictions.decoder.bias', 'sop_classifier.classifier.bias', 'predictions.decoder.weight', 'predictions.LayerNorm.bias', 'sop_classifier.classifier.weight', 'predictions.dense.weight']
- This IS expected if you are initializing AlbertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing AlbertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

tensor([[[ 0.3641,  0.0061,  0.5332,  ..., -0.1811, -0.0993, -0.8858],
         [ 0.0622,  1.0181, -0.2391,  ...,  0.3143,  0.1828, -0.2741],
         [-0.0845,  0.7681,  0.5878,  ...,  0.0679, -0.8295, -0.8495],
         ...,
         [ 0.4844, -0.3906, -0.7792,  ...,  0.2099,  0.0846,  0.2969],
         [ 0.9396, -0.3218, -0.3431,  ...,  0.3089, -0.0844,  0.0307],
         [ 0.0204, -0.0686,  0.0294,  ...,  0.0107,  0.0100,  0.0119]]],
       grad_fn=<NativeLayerNormBackward0>)

In [7]:
pt_outputs.shape

torch.Size([1, 54, 768])

In [5]:
import pandas as pd

In [11]:
data2 = pd.read_csv("data/kaggletype_nlp_stocknews_202101_202202.csv", encoding='utf-8-sig'
                    ,dtype={'base_time':np.str,
                            '단축코드':np.str,
                            '종목명':np.str,
                            '종가':np.str,
                            '시가':np.str,
                            '고가':np.str,
                            '저가':np.str,
                            '전일대비':np.str,
                            '등락율':np.str,
                            '매도체결수량':np.str,
                            '매수체결수량':np.str,
                            '순매수체결수량':np.str,
                            '매도체결건수':np.str,
                            '매수체결건수':np.str,
                            '순체결건수':np.str,
                            '거래량':np.str,
                           })

/opt/conda/envs/albert/lib/python3.7/site-packages/ipykernel_launcher.py:2: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/opt/conda/envs/albert/lib/python3.7/site-packages/ipykernel_launcher.py:3: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/conda/envs/albert/lib/python3.7/site-packages/ipykernel_launcher.py:4: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  after removing the cwd from sys.path.
/opt/conda/envs/albert/lib/python3.7/site-packages/ipykernel_launcher.py:5: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  """
/opt/conda/envs/albert/lib/python3.7/site-packages/ipykernel_launcher.py:6: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/opt/conda/envs/albert/lib/python3.7/site-packages/ipykernel_launcher.py:7: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  import sys
/opt/conda/envs/albert/lib/python3.7/site-packages/ipykernel_launcher.py:8: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/opt/conda/envs/albert/lib/python3.7/site-packages/ipykernel_launcher.py:9: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  if __name__ == '__main__':
/opt/conda/envs/albert/lib/python3.7/site-packages/ipykernel_launcher.py:10: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  # Remove the CWD from sys.path while we load stuff.
/opt/conda/envs/albert/lib/python3.7/site-packages/ipykernel_launcher.py:11: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  # This is added back by InteractiveShellApp.init_path()
/opt/conda/envs/albert/lib/python3.7/site-packages/ipykernel_launcher.py:12: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  if sys.path[0] == '':
/opt/conda/envs/albert/lib/python3.7/site-packages/ipykernel_launcher.py:13: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  del sys.path[0]
/opt/conda/envs/albert/lib/python3.7/site-packages/ipykernel_launcher.py:14: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/opt/conda/envs/albert/lib/python3.7/site-packages/ipykernel_launcher.py:15: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  from ipykernel import kernelapp as app
/opt/conda/envs/albert/lib/python3.7/site-packages/ipykernel_launcher.py:16: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  app.launch_new_instance()
/opt/conda/envs/albert/lib/python3.7/site-packages/ipykernel_launcher.py:17: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
/opt/conda/envs/albert/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3524: DtypeWarning: Columns (3,4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

단축코드 / content / label


3개 종목에 대해서 우선 테스트

각 CSV에 포함되어야할 내용

content / label

기사 내용 / -0.3, 0.3

label -> 5분, 30분, 60분, 180분에서 추출한 라벨 (긍정 또는 부정 -> 1, 0으로 매핑합시다.)


-0.3 ~ + 0.3 -> 0, 1

BERT -> 0, 1로 들어오면 classification 할때 확률값을 내뱉어 주는데,

이게 0, 1 이렇게 모델 아웃풋이 나오는 게 아니라, 30% 부정 70% 긍정 이런식으로 나오는 걸로 알고있어요.

BERT -> [0.3, 0.7]

         label = index 
         
         0 -> 0.3 
         1 -> 0.7
0 ~ 1 -> -1 ~ 1 -> 

3개 선별 -> 1.csv, 2.csv, 3.csv

ALBERT -> 1.model 2.model, 3.model



뉴스 ID ? ->

In [32]:
temp = data2[(data2['base_time'] == "202102251048") &  (data2['단축코드'] == "000080") & (data2['source'] == '이데일리')]['content']

In [37]:
temp.item()

'2024년 주류사 최초 100주년 앞둔 하이트진로 지역사회와 소외계층에 생활밀착형 지원 지속 이데일리 김범준 기자 하이트진로가 오는 2024년 주류기업 최초 100주년을 앞두고 지역사회 소외계층을 위한 나눔 활동 등 ‘좋은기업’ 행보를 꾸준히 실천하고 있다. 김인규 가운데 하이트진로 대표가 설을 맞아 지난 2일 서울 서초동 본사 앞에서 34개 지역 사회복지기관에 가래떡과 만두 약 1만인분을 전달하고 있다. 사진 하이트진로 제공 하이트진로는 ‘모두가 즐겁고 행복한 세상’이라는 슬로건 아래 2012년부터 사회공헌 활동을 본격화했다. 매년 취약계층 지원 이동차량 지원 등 사회 각 분야의 구성원들을 위한 나눔 활동을 꾸준히 이어가고 있다. 설·추석 등 명절과 가정의 달 등을 맞아 저소득층 어린이 독거노인 장애인들에게 운동화와 다과 등 다양한 나눔활동을 진행해오고 있다. 이번 설에는 지역사회 어려운 이웃들을 위해 서울역 쪽방상담소 부산 마리아마을 등 전국 34개 사회복지기관에 떡국 떡과 만두 1만인분을 지원했다. 지난해 추석 명절에는 사회복지기관 총 45곳에 송편·한과 등 명절음식을 자체 선물 상자에 포장해 2만인분을 지원했다. 하이트진로 임직원들이 설·추석 등 명절마다 음식을 직접 배달하고 나누는 이웃의 수는 매년 3만여명이다. 2012년부터 9년째 약 430여곳의 지역 사회복지기관을 통한 15만여명에게 명절 음식을 지속 후원하고 있다. 지난해 가정의 달에는 총 18개 복지기관을 통해 2000만원 상당 금액을 지역상품권으로 지원하고 ‘착한 소비자 캠페인’에도 동참했다. 하이트진로가 지난해 11월 ‘2020 따뜻한 겨울나기 김장김치 나눔 행사’를 열고 54개 지역 사회복지기관에 전달하고 있다. 사진 하이트진로 제공 하이트진로는 어려운 이웃이 겨울과 더운 여름을 건강하게 보낼 수 있도록 돕는 ‘생활밀착형’ 나눔 활동을 펼치고 있다. 이번 겨울에는 폭설과 강추위에 취약한 쪽방촌 거주민과 노숙인에게 핫팩 후원과 어려운 이웃들의 월동 준비를 돕기 위한 김장김치 나눔 행사를 진행했다. 지난달에는 서울지역 쪽방상담소와 서울역 따스한 채움터에 핫팩 1만개와 떡 2500인분을 제공했다. 지난해 11월에는 서울·부산·창원·광주 소재 사회복지기관 54곳을 비롯해 소방유가족 15 가정에 김장김치 2000가구분 8530㎏ 을 전달했다. 장애인복지관에는 이불 60채도 함께 전달했다. 지난해 8월에는 서울 영등포 쪽방촌에 생수 석수 1만병과 삼계탕 400인분을 지원했다. 앞서 6월에도 무더위 대비를 위한 석수 4만병을 지원한 바 있다. 하이트진로는 올해 역시 명절 지원과 함께 취약계층이 폭염 수해 한파 등을 이겨내는 데에 도움이 될 수 있도록 다양한 활동을 진행할 계획이다. 하이트진로가 지난해 11월 12일 서울 아름다운가게 양재점에서 나눔바자회 ‘아름다운하루’ 특별전을 열고 있다. 사진 하이트진로 제공 이밖에도 하이트진로는 협력사 임직원들과 함께 9년째 ‘나눔바자회’를 진행해오고 있다. 기증한 물건을 ‘아름다운가게’를 통해 판매해 자원재사용의 의미를 되새기고 수익금으로 어려운 이웃을 돕는다. 지난해 11월 서울 아름다운가게 양재점에서는 하이트진로와 협력사 임직원들이 가정에서 사용가치가 있는 물품 총 5000여점을 기증한 나눔바자회 ‘아름다운하루’ 특별전을 개최했다. 판매 수익금은 소외 이웃들에게 기부했다. 또 코로나19 피해 극복 지원을 위해 사회복지시설 자가격리자 의료진 취약계층 등을 위한 마스크와 손 세정제를 지원하고 있다. 지난해 상반기에는 특별관리구역으로 지정된 대구·경북 지역에 예방과 피해 복구를 위한 현금 등 총 12억원을 지원하기도 했다. 하이트진로가 소유해 소상공인에 임대 중인 서울·부산·강원·전주 지역 17개소에는 지난해 3월부터 6월까지 4개월간 임대료를 전액 면제해주는 등 ‘착한 임대인 운동’에도 동참했다. 하이트진로는 거동이 불편한 노인과 장애인의 이동편의 증대를 위해 이동차량도 꾸준히 지원하고 있다. 2015년부터 차량지원 사업을 시작해 총 38대의 차량을 사회복지기관에 지원했다. 지난해에는 기아차 레이에 휠체어리프트를 장착한 장애인용 특수개조차량 3대와 일반차량 5대 등 총 8대를 사회복지기관에 전달했다. 기증한 차량들은 독거노인 및 재가장애인을 위한 도시락 배달 병원 이동 및 송영서비스 등 다양한 용도로 쓰이고 있다. 하이트진로가 지난해 9월 16일 부산 해운대해수욕장 이벤트광장에서 사회복지기관 이동편의 차량 전달식을 진행하고 있다. 사진 하이트진로 제공 김범준 yolo edaily.co.kr 24시간 빠른 미리보는 뉴스 eNews 네이버에서 이데일리 뉴스 를 만나보세요 빡침해소 청춘뉘우스 스냅타임 ＜ⓒ종합 경제정보 미디어 이데일리 무단전재 재배포 금지＞ 이데일리 관련뉴스 해당 언론사에서 선정하며 언론사 페이지 아웃링크 로 이동해 볼 수 있습니다.'

In [40]:
length = len(temp.item().split(". "))

In [42]:
processed_list = temp.item().split(". ")[:length-1]

In [44]:
print('. '.join(processed_list))

2024년 주류사 최초 100주년 앞둔 하이트진로 지역사회와 소외계층에 생활밀착형 지원 지속 이데일리 김범준 기자 하이트진로가 오는 2024년 주류기업 최초 100주년을 앞두고 지역사회 소외계층을 위한 나눔 활동 등 ‘좋은기업’ 행보를 꾸준히 실천하고 있다. 김인규 가운데 하이트진로 대표가 설을 맞아 지난 2일 서울 서초동 본사 앞에서 34개 지역 사회복지기관에 가래떡과 만두 약 1만인분을 전달하고 있다. 사진 하이트진로 제공 하이트진로는 ‘모두가 즐겁고 행복한 세상’이라는 슬로건 아래 2012년부터 사회공헌 활동을 본격화했다. 매년 취약계층 지원 이동차량 지원 등 사회 각 분야의 구성원들을 위한 나눔 활동을 꾸준히 이어가고 있다. 설·추석 등 명절과 가정의 달 등을 맞아 저소득층 어린이 독거노인 장애인들에게 운동화와 다과 등 다양한 나눔활동을 진행해오고 있다. 이번 설에는 지역사회 어려운 이웃들을 위해 서울역 쪽방상담소 부산 마리아마을 등 전국 34개 사회복지기관에 떡국 떡과 만두 1만인분을 지원했다. 지난해 추석 명절에는 사회복지기관 총 45곳에 송편·한과 등 명절음식을 자체 선물 상자에 포장해 2만인분을 지원했다. 하이트진로 임직원들이 설·추석 등 명절마다 음식을 직접 배달하고 나누는 이웃의 수는 매년 3만여명이다. 2012년부터 9년째 약 430여곳의 지역 사회복지기관을 통한 15만여명에게 명절 음식을 지속 후원하고 있다. 지난해 가정의 달에는 총 18개 복지기관을 통해 2000만원 상당 금액을 지역상품권으로 지원하고 ‘착한 소비자 캠페인’에도 동참했다. 하이트진로가 지난해 11월 ‘2020 따뜻한 겨울나기 김장김치 나눔 행사’를 열고 54개 지역 사회복지기관에 전달하고 있다. 사진 하이트진로 제공 하이트진로는 어려운 이웃이 겨울과 더운 여름을 건강하게 보낼 수 있도록 돕는 ‘생활밀착형’ 나눔 활동을 펼치고 있다. 이번 겨울에는 폭설과 강추위에 취약한 쪽방촌 거주민과 노숙인에게 핫팩 후원과 어려운 이웃들의 월동 준비를 돕기 위한 김장김치 나눔 행사를 진행했다. 지난달에는 서울지역 쪽방상담소와 서울역 따스한 채움터에 핫팩 1만개와 떡 2500인분을 제공했다. 지난해 11월에는 서울·부산·창원·광주 소재 사회복지기관 54곳을 비롯해 소방유가족 15 가정에 김장김치 2000가구분 8530㎏ 을 전달했다. 장애인복지관에는 이불 60채도 함께 전달했다. 지난해 8월에는 서울 영등포 쪽방촌에 생수 석수 1만병과 삼계탕 400인분을 지원했다. 앞서 6월에도 무더위 대비를 위한 석수 4만병을 지원한 바 있다. 하이트진로는 올해 역시 명절 지원과 함께 취약계층이 폭염 수해 한파 등을 이겨내는 데에 도움이 될 수 있도록 다양한 활동을 진행할 계획이다. 하이트진로가 지난해 11월 12일 서울 아름다운가게 양재점에서 나눔바자회 ‘아름다운하루’ 특별전을 열고 있다. 사진 하이트진로 제공 이밖에도 하이트진로는 협력사 임직원들과 함께 9년째 ‘나눔바자회’를 진행해오고 있다. 기증한 물건을 ‘아름다운가게’를 통해 판매해 자원재사용의 의미를 되새기고 수익금으로 어려운 이웃을 돕는다. 지난해 11월 서울 아름다운가게 양재점에서는 하이트진로와 협력사 임직원들이 가정에서 사용가치가 있는 물품 총 5000여점을 기증한 나눔바자회 ‘아름다운하루’ 특별전을 개최했다. 판매 수익금은 소외 이웃들에게 기부했다. 또 코로나19 피해 극복 지원을 위해 사회복지시설 자가격리자 의료진 취약계층 등을 위한 마스크와 손 세정제를 지원하고 있다. 지난해 상반기에는 특별관리구역으로 지정된 대구·경북 지역에 예방과 피해 복구를 위한 현금 등 총 12억원을 지원하기도 했다. 하이트진로가 소유해 소상공인에 임대 중인 서울·부산·강원·전주 지역 17개소에는 지난해 3월부터 6월까지 4개월간 임대료를 전액 면제해주는 등 ‘착한 임대인 운동’에도 동참했다. 하이트진로는 거동이 불편한 노인과 장애인의 이동편의 증대를 위해 이동차량도 꾸준히 지원하고 있다. 2015년부터 차량지원 사업을 시작해 총 38대의 차량을 사회복지기관에 지원했다. 지난해에는 기아차 레이에 휠체어리프트를 장착한 장애인용 특수개조차량 3대와 일반차량 5대 등 총 8대를 사회복지기관에 전달했다. 기증한 차량들은 독거노인 및 재가장애인을 위한 도시락 배달 병원 이동 및 송영서비스 등 다양한 용도로 쓰이고 있다. 하이트진로가 지난해 9월 16일 부산 해운대해수욕장 이벤트광장에서 사회복지기관 이동편의 차량 전달식을 진행하고 있다

In [26]:
data2[(data2['base_time'] >= "202102251048") &  (data2['단축코드'] == "000080")]

,base_time,단축코드,종목명,source,title,content,종가,시가,고가,저가,전일대비,등락율,매도체결수량,매수체결수량,순매수체결량,매도체결건수,매수체결건수,순체결건수,거래량
12007,202102251048,000080,하이트진로,이데일리,"하이트진로, 지역사회·소외계층 나눔 '좋은 기업' 실천",2024년 주류사 최초 100주년 앞둔 하이트진로 지역사회와 소외계층에 생활밀착형 ...,34500,34500,34500,34450,650,1.92,96941,91153,-5788,1353,1457,104,203907
12008,202102251049,000080,하이트진로,NaN,NaN,NaN,34450,34500,34500,34450,600,1.77,97008,91722,-5286,1359,1478,119,204543
12009,202102251050,000080,하이트진로,NaN,NaN,NaN,34450,34500,34500,34450,600,1.77,97035,92050,-4985,1364,1487,123,204898
12010,202102251051,000080,하이트진로,NaN,NaN,NaN,34550,34450,34550,34450,700,2.07,97468,92551,-4917,1373,1503,130,205832
12011,202102251052,000080,하이트진로,NaN,NaN,NaN,34550,34500,34550,34500,700,2.07,97529,92930,-4599,1378,1520,142,206272
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314627,202202281517,000080,하이트진로,NaN,NaN,NaN,35600,35500,35600,35500,0,0.0,145642,119140,-26502,2226,2991,765,270254
314628,202202281518,000080,하이트진로,NaN,NaN,NaN,35600,35600,35600,35550,0,0.0,145663,120403,-25260,2228,3031,803,271538
314629,202202281519,000080,하이트진로,NaN,NaN,NaN,35600,35600,35600,35550,0,0.0,145866,121886,-23980,2230,3074,844,273224
314630,202202281520,000080,하이트진로,NaN,NaN,NaN,35600,35600,35600,35550,0,0.0,146237,122427,-23810,2233,3106,873,274136
314631,202202281530,000080,하이트진로,NaN,NaN,NaN,35600,35600,35600,35600,0,0.0,146275,122553,-23722,2237,3112,875,298210

5, 30, 60, 180 -> 새로 정의한 등락률

In [9]:
data1 = pd.read_csv("data/kaggletype_nlp_stocknews_202101_202202_onlynews.csv", encoding='utf-8-sig'
                    ,dtype={'base_time':np.str,
                            '단축코드':np.str,
                            '종목명':np.str,
                            '종가':np.str,
                            '시가':np.str,
                            '고가':np.str,
                            '저가':np.str,
                            '전일대비':np.str,
                            '등락율':np.str,
                            '매도체결수량':np.str,
                            '매수체결수량':np.str,
                            '순매수체결수량':np.str,
                            '매도체결건수':np.str,
                            '매수체결건수':np.str,
                            '순체결건수':np.str,
                            '거래량':np.str,
                           })

/opt/conda/envs/albert/lib/python3.7/site-packages/ipykernel_launcher.py:2: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/opt/conda/envs/albert/lib/python3.7/site-packages/ipykernel_launcher.py:3: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/conda/envs/albert/lib/python3.7/site-packages/ipykernel_launcher.py:4: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  after removing the cwd from sys.path.
/opt/conda/envs/albert/lib/python3.7/site-packages/ipykernel_launcher.py:5: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  """
/opt/conda/envs/albert/lib/python3.7/site-packages/ipykernel_launcher.py:6: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/opt/conda/envs/albert/lib/python3.7/site-packages/ipykernel_launcher.py:7: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  import sys
/opt/conda/envs/albert/lib/python3.7/site-packages/ipykernel_launcher.py:8: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/opt/conda/envs/albert/lib/python3.7/site-packages/ipykernel_launcher.py:9: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  if __name__ == '__main__':
/opt/conda/envs/albert/lib/python3.7/site-packages/ipykernel_launcher.py:10: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  # Remove the CWD from sys.path while we load stuff.
/opt/conda/envs/albert/lib/python3.7/site-packages/ipykernel_launcher.py:11: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  # This is added back by InteractiveShellApp.init_path()
/opt/conda/envs/albert/lib/python3.7/site-packages/ipykernel_launcher.py:12: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  if sys.path[0] == '':
/opt/conda/envs/albert/lib/python3.7/site-packages/ipykernel_launcher.py:13: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  del sys.path[0]
/opt/conda/envs/albert/lib/python3.7/site-packages/ipykernel_launcher.py:14: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/opt/conda/envs/albert/lib/python3.7/site-packages/ipykernel_launcher.py:15: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  from ipykernel import kernelapp as app
/opt/conda/envs/albert/lib/python3.7/site-packages/ipykernel_launcher.py:16: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  app.launch_new_instance()
/opt/conda/envs/albert/lib/python3.7/site-packages/ipykernel_launcher.py:17: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

In [11]:
# pd.set_option("display.max_columns", None)

In [11]:
import numpy as np

In [10]:
data1.head(100)

,base_time,단축코드,종목명,source,title,content,종가,시가,고가,저가,전일대비,등락율,매도체결수량,매수체결수량,순매수체결량,매도체결건수,매수체결건수,순체결건수,거래량
0,202102251048,000080,하이트진로,이데일리,"하이트진로, 지역사회·소외계층 나눔 '좋은 기업' 실천",2024년 주류사 최초 100주년 앞둔 하이트진로 지역사회와 소외계층에 생활밀착형 ...,34500,34500,34500,34450,650,1.92,96941,91153,-5788,1353,1457,104,203907
1,202103021006,000080,하이트진로,아시아경제,"하이트진로, 일품진로 패키지 리뉴얼",라벨 서체는 유명 캘리그래퍼 작가 ‘이상현’의 디자인 적용 세계가 인정한 맛과 프리...,34450,34500,34500,34450,200,0.58,82113,60003,-22110,1268,929,-339,149353
2,202103021006,000080,하이트진로,이데일리,"하이트진로, 지역사회·소외계층 나눔 '좋은 기업' 실천",2024년 주류사 최초 100주년 앞둔 하이트진로 지역사회와 소외계층에 생활밀착형 ...,34450,34500,34500,34450,200,0.58,82113,60003,-22110,1268,929,-339,149353
3,202103021006,000080,하이트진로,머니투데이,"하이트진로, '일품진로' 패키지 새단장",머니투데이 박미주 기자 제품명 일품진로1924→일품진로 로 바꿔 일품진로 사진 하이...,34450,34500,34500,34450,200,0.58,82113,60003,-22110,1268,929,-339,149353
4,202103021006,000080,하이트진로,파이낸셜뉴스,"하이트진로, '일품진로' 이름도 옷도 다 바꿨다",하이트진로의 일품진로 파이낸셜뉴스 일품진로가 새옷을 입었다. 하이트진로는 프리미엄 ...,34450,34500,34500,34450,200,0.58,82113,60003,-22110,1268,929,-339,149353
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,202104280942,000080,하이트진로,파이낸셜뉴스,"하이트진로 테라, 스마일리 한정판 출시",파이낸셜뉴스 하이트진로는 테라 출시 2주년을 기념해 테라 X 스마일리 한정판 을 판...,35800,35800,35850,35800,200,0.56,32921,45052,12131,464,692,228,80581
96,202104280942,000080,하이트진로,아시아경제,"하이트진로 테라, 배럴과 협업 아이스백 기획팩 출시",아시아경제 임혜선 기자 하이트진로의 ‘테라’가 국내 수상 스포츠웨어 브랜드 ‘배럴’...,35800,35800,35850,35800,200,0.56,32921,45052,12131,464,692,228,80581
97,202104280942,000080,하이트진로,조세일보,"하이트진로, 스마일리 협업 '테라' 가격도 인하 발매",하이트진로 대표 김인규 는 테라 출시 2주년 기념 테라 X 스마일리 한정판 을 처음...,35800,35800,35850,35800,200,0.56,32921,45052,12131,464,692,228,80581
98,202104280942,000080,하이트진로,이데일리,"하이트진로, 한정한 리큐르 제품 ‘아이셔에이슬’ 재출시",소비자들의 재출시 문의 쇄도 이번에도 한장 판매하나 지난해보다 수량 확대 이데일리 ...,35800,35800,35850,35800,200,0.56,32921,45052,12131,464,692,228,80581
99,202104280942,000080,하이트진로,조세일보,"하이트진로, 지난해 매진 아이템 '아이셔이슬' 재출시",…사진제공 하이트진로 하이트진로 대표 김인규 는 지난해 과일 리큐르 시장을 강타했던...,35800,35800,35850,35800,200,0.56,32921,45052,12131,464,692,228,80581

In [13]:
data = data1.dropna(axis=0)

In [17]:
data.head()

,base_time,단축코드,종목명,source,title,content,종가,시가,고가,저가,전일대비,등락율,매도체결수량,매수체결수량,순매수체결량,매도체결건수,매수체결건수,순체결건수,거래량
28824,202105071107,35420,NAVER,머니투데이,신사업에 용트림하는 카카오…네이버와 격차 좁혔다,머니투데이 윤지혜 기자 카톡 광고·쇼핑에 신사업까지 좋았다…하반기 글로벌 조준 본격...,363000,363000,363500,363000,1500,0.41,77306,87703,10397,3929,3617,-312,170694
28825,202105071107,35420,NAVER,아시아경제,페이전쟁 뛰어든 금융그룹…네이버·카카오에 반격,5대 금융그룹 통합결제 플랫폼 구축 나서 가파른 성장세 보이는 간편결제 시장 공략 ...,363000,363000,363500,363000,1500,0.41,77306,87703,10397,3929,3617,-312,170694
28826,202105071107,35420,NAVER,서울경제,"우리은행, 네이버·연세대 손잡고 '연세페이·연세코인' 개발",권광석 오른쪽 우리은행장과 한성숙 왼쪽 네이버 대표이사 서승환 연세대학교 총장이 7...,363000,363000,363500,363000,1500,0.41,77306,87703,10397,3929,3617,-312,170694
28827,202105071107,35420,NAVER,이데일리,"네이버 블로그 이벤트 재개한다는데, 보상 바뀔까…“논의중”",이데일리 노재웅 기자 네이버 035420 가 ‘작심삼일’로 끝냈던 블로그 이벤트를 ...,363000,363000,363500,363000,1500,0.41,77306,87703,10397,3929,3617,-312,170694
28828,202105071107,35420,NAVER,매일경제,"네이버, 사흘만에 접은 블로그챌린지 이틀만에 재개 결정",네이버 블로그팀 공지 네이버가 블로그에 일기를 쓰면 네이버페이를 지급하는 이벤트를 ...,363000,363000,363500,363000,1500,0.41,77306,87703,10397,3929,3617,-312,170694

In [18]:
data = data.drop_duplicates(['base_time'])

In [21]:
data['종목명'].value_counts()

NAVER     33
KT        29
카카오       28
LG        15
기아        14
          ..
세틀뱅크       1
강원랜드       1
에코마케팅      1
에치에프알      1
와이아이케이     1
Name: 종목명, Length: 470, dtype: int64

In [22]:
data[data["종목명"]=='NAVER']

,base_time,단축코드,종목명,source,title,content,종가,시가,고가,저가,전일대비,등락율,매도체결수량,매수체결수량,순매수체결량,매도체결건수,매수체결건수,순체결건수,거래량
28824,202105071107,35420,NAVER,머니투데이,신사업에 용트림하는 카카오…네이버와 격차 좁혔다,머니투데이 윤지혜 기자 카톡 광고·쇼핑에 신사업까지 좋았다…하반기 글로벌 조준 본격...,363000,363000,363500,363000,1500,0.41,77306,87703,10397,3929,3617,-312,170694
29210,202105101101,35420,NAVER,비즈니스워치,국민청원 올라온 '네이버 챌린지' 뭐길래 사흘만에 부활,네이버페이 가입자 1000원에 샀다 논란에 블로그 챌린지 24일 부활…어뷰징 걸러낼...,361500,362000,362000,361500,500,0.14,93594,65425,-28169,4060,4543,483,165337
29640,202105111138,35420,NAVER,서울경제,"카드사도 네이버페이처럼 될까··· 카드사, 상호개방 시스템 구축 합의",서울경제 카드업계가 모바일 애플리케이션에서 경쟁사의 신용체크카드를 등록해 사용할 수...,349500,349000,349500,349000,12500,-3.45,538230,257110,-281120,19942,26915,6973,813203
29968,202105121025,35420,NAVER,서울경제,"신한은행, 네이버페이 전세대출 이벤트",네이버페이 5만원 증정 서울경제 신한은행은 네이버페이로 전세대출을 신규로 이용하는 ...,344000,344000,344500,344000,5000,-1.43,245171,118978,-126193,7078,7681,603,375174
30536,202105131309,35420,NAVER,한국경제,"창작자가 가격 정한다…네이버, '유료 콘텐츠플랫폼' 오픈",프리미엄콘텐츠 상반기 중 정식 출시 사진 네이버 제공 네이버는 창작자가 콘텐츠를 제...,339000,339000,339500,339000,4000,-1.17,307525,276727,-30798,13920,15241,1321,610851
30823,202105141115,35420,NAVER,한국경제,"창작자가 가격 정한다…네이버, '유료 콘텐츠플랫폼' 오픈",프리미엄콘텐츠 상반기 중 정식 출시 사진 네이버 제공 네이버는 창작자가 콘텐츠를 제...,342000,341500,342000,341500,4500,1.33,87084,121563,34479,3773,6623,2850,219260
31496,202105180932,35420,NAVER,매일경제,동대문시장 확 바꾸려 산은·네이버 손잡았다,의류 보관·주문·배송·AS까지 유통 전단계 디지털전환 지원 KDB산업은행과 네이버가...,346500,347000,347000,346500,2500,0.73,47017,36524,-10493,1443,1290,-153,90457
31990,202105201107,35420,NAVER,헤럴드경제,"네이버파이낸셜, 네이버페이 현장결제 수수료 전액 지원",11월 6월 발생분 헤럴드경제 박자연 기자 네이버파이낸셜이 코로나19 장기화로 어려...,352500,352000,352500,352000,3000,0.86,123809,149236,25427,4539,4963,424,290703
32317,202105210953,35420,NAVER,헤럴드경제,"네이버파이낸셜, 네이버페이 현장결제 수수료 전액 지원",11월 6월 발생분 헤럴드경제 박자연 기자 네이버파이낸셜이 코로나19 장기화로 어려...,359000,359000,359000,358500,8000,2.28,51726,97254,45528,2373,3141,768,156111
32948,202105241348,35420,NAVER,비즈니스워치,"'이베이 군침' 네이버, 쇼핑사업 분사 신호탄?",취재N톡 G마켓 클릭 주로 네이버에서…사업 fit 최적 서열 2위 네이버쇼핑 몸집 ...,354000,354000,354500,354000,6000,-1.67,148236,111348,-36888,5240,7569,2329,265882
33192,202105251119,35420,NAVER,서울경제,'작심삼일' 네이버 블로그 챌린지 다시 시작···뿔났던 이용자들 돌아왔...,이벤트 재개 첫날 재참여 나선 블로그 글 쏟아져 서울경제 2주짜리 이벤트를 3일 차...,354500,354500,355000,354500,1000,-0.28,95040,82601,-12439,3403,2941,-462,185061
33424,202105251501,35420,NAVER,매일경제,'노쇼백신' 이젠 네이버·카카오앱에서 검색해 맞는다,27일 낮 1시부터 서비스 제공 사진 네이버 네이버와 카카오가 코로나19 예방접종대...,356500,356500,357000,356500,1000,0.28,176028,174218,-1810,8955,7621,-1334,357668
33798,202105261440,35420,NAVER,조선비즈,"하나금투 “네이버, 커머스·광고 덕 호실적···목표가 상향”",하나금융투자는 네이버 NAVER 035420 의 올해 실적이 전자상거래 커머스 및 ...,365500,365500,366000,365500,7500,2.09,163236,280749,117513,12421,10470,-1951,447736
33991,202105271114,35420,NAVER,조선비즈,"한국투자증권 “네이버, 하반기 주목…비용 증가 둔화 예상”",한국투자증권은 27일 최근 NAVER 035420 네이버 주가가 부진한 흐름을 보이...,354500,355000,355000,354500,8500,-2.34,173417,97909,-75508,4060,6527,2467,279270
34393,202105281120,35420,NAVER,조선비즈,"한국투자증권 “네이버, 하반기 주목…비용 증가 둔화 예상”",한국투자증권은 27일 최근 NAVER 035420 네이버 주가가 부진한 흐름을 보이...,358500,358000,358500,358000,500,0.14,125762,92583,-33179,3177,5488,2311,231312
35390,202106011500,35420,NAVER,파이낸셜뉴스,"블랙핑크, 이날치 노래 '돌비 애트모스'로 듣는다...돌비×네이버",돌비×네이버 바이브 돌비 애트모스 뮤직 서비스 파이낸셜뉴스 글로벌 영상·음향 엔터테...,367000,367000,367500,367000,4500,1.24,166870,183646,16776,9347,8380,-967,354249
35744,202106021415,35420,NAVER,이데일리,"네이버의 야심, ‘공짜 패밀리 멤버십’에 담겼다",8일 기능 출시…초대만 하면 패밀리 멤버십 혜택 대상 네이버 ‘포인트 동맹’ 초연결...,362500,362500,363000,362500,4500,-1.23,221059,97344,-123715,12297,6666,-5631,326546
36619,202106140930,35420,NAVER,이데일리,시총상위주 변화…네이버·카카오 오르고 바이오 내려,카카오 시총 60조원 넘어…네이버와 1조원 차이 네이버·카카오 약진 반년새 시총 상...,383000,383500,383500,383000,10500,2.82,93791,218279,124488,4316,6145,1829,320656
37043,202106151001,35420,NAVER,파이낸셜뉴스,"세븐일레븐 ""도시락 사고 네이버웹툰 쿠키 받자""",파이낸셜뉴스 세븐일레븐이 Z세대 맞춤형 마케팅을 강화한다. 편의점 세븐일레븐은 Z세...,386000,386000,386500,386000,1000,-0.26,104204,117486,13282,3267,5875,2608,232328
37420,202106160938,35420,NAVER,머니투데이,"네이버 누른 카카오…""카톡 기반의 플랫폼 확장성 덕분""-현대차",머니투데이 김지성 기자 사진 카카오프렌즈 현대차증권은 16일 카카오에 대해 금융과 ...,387000,387500,387500,387000,0,0.00,50627,67323,16696,1668,2768,1100,128523
37739,202106161440,35420,NAVER,한국경제,"정용진 베팅 통했다…신세계-네이버, 이베이코리아 인수 눈앞 [마켓인사이...",신세계그룹과 네이버 컨소시엄이 롯데그룹을 제치고 국내 이커머스 3위 업체 이베이코리...,392000,392500,392500,392000,5000,1.29,276124,408210,132086,13294,18050,4756,694927
37954,202106171143,35420,NAVER,헤럴드경제,이베이 인수전 진짜 승자는 네이버?…·‘네·카·쿠’ 경쟁 심화[언박싱...,‘쿠팡 따돌리기’ 성공한 네이버 ‘1등만 살아남는다’ 네·쿠·카 경쟁 심해질 듯 이...,393000,392500,393000,392000,2000,0.51,153880,188897,35017,6409,11308,4899,355552
38265,202106181021,35420,NAVER,서울경제,"네이버뉴스, 원치 않는 언론사 기사 숨김 서비스 제공한다",서울경제 네이버는 뉴스 이용자가 추천을 원하지 않는 언론사 기사를 직접 제외할 수 ...,398500,398500,398500,398000,9000,2.31,183665,378118,194453,6326,11268,4942,570515
39261,202106221406,35420,NAVER,조선비즈,"키움증권 “네이버, 자회사 가치 장기적으로 부각”",키움증권은 22일 NAVER 035420 네이버 에 대해 장기적으로 자회사 가치가 ...,393000,393000,393500,393000,4000,-1.01,292995,165454,-127541,9404,13683,4279,473329
39312,202106221443,35420,NAVER,조선비즈,"키움증권 “네이버, 자회사 가치 장기적으로 부각”",키움증권은 22일 NAVER 035420 네이버 에 대해 장기적으로 자회사 가치가 ...,392500,392500,392500,392000,4500,-1.13,356117,191302,-164815,11203,15995,4792,562299
39417,202106230947,35420,NAVER,머니투데이,"네이버, 뒤늦은 맹추격…카카오·네이버 나란히 신고가",머니투데이 강민수 기자 특징주 네이버 본사 NAVER가 콘텐츠 사업 성장 기대감 및...,416000,416000,416000,415500,25000,6.39,288061,610865,322804,13238,14435,1197,916763
39536,202106231137,35420,NAVER,매경이코노미,자존심 경쟁하듯... 카카오-네이버 나란히 급등하며 '신고가',6월 23일 오전 장에서 네이버와 카카오가 자존심 싸움이라도 하듯이 나란히 급등하며...,423000,422500,423000,422000,32000,8.18,596533,1299222,702689,25462,35084,9622,1918014
39776,202106240906,35420,NAVER,조선비즈,"신한금투 “네이버, 하반기부터 커머스 확장 속도 낼 것···목표가 상향...",신한금융투자는 네이버 NAVER 035420 의 공격적인 전자상거래 커머스 사업 확...,430000,426500,430500,426500,6500,1.53,109233,85582,-23651,2753,4092,1339,250941
39851,202106241006,35420,NAVER,머니투데이,"카카오와 사업 가치 비교해보니…""이젠 네이버 달릴 차례""",머니투데이 정혜윤 기자 사진제공 유안타증권 올해 NAVER 네이버 와 카카오 주가는...,423000,423500,424000,423000,500,-0.12,490121,406564,-83557,11544,19704,8160,952903
40038,202106241301,35420,NAVER,머니투데이,"네이버, 검색어 하나면 연관 콘텐츠 다 보여준다",머니투데이 윤지혜 기자 사진 네이버 앞으로는 네이버 NAVER 에서 인테리어 를 검...,421500,421500,422000,421500,2000,-0.47,881363,680035,-201328,29544,32374,2830,1617633
41117,202106291146,35420,NAVER,아시아경제,"삼성생명, 네이버클라우드와 디지털 금융 혁신 손잡아",삼성생명은 클라우드와 인공지능 AI 서비스 전문기업인 네이버클라우드와 디지털 금융 ...,408500,408500,408500,408000,500,0.12,131178,128717,-2461,4382,6192,1810,274993
41359,202106300911,35420,NAVER,아시아경제,"삼성생명, 네이버클라우드와 디지털 금융 혁신 손잡아",삼성생명은 클라우드와 인공지능 AI 서비스 전문기업인 네이버클라우드와 디지털 금융 ...,409500,410500,411000,409500,2000,-0.49,45772,27455,-18317,658,800,142,95951
41510,202106301120,35420,NAVER,아시아경제,"삼성생명, 네이버클라우드와 디지털 금융 혁신 손잡아",삼성생명은 클라우드와 인공지능 AI 서비스 전문기업인 네이버클라우드와 디지털 금융 ...,423000,422500,423500,422500,11500,2.79,179091,271590,92499,5917,7335,1418,473509

In [19]:
data['content'].max()

'李부회장 지분율 10.4%로 확대 개인 최대주주로 경영승계 공식화 삼성물산·전자·SDS의 지분은 법정 비율대로 유가족에게 상속 서울경제 고 故 이건희 삼성그룹 회장이 보유한 삼성생명 지분의 절반을 이재용 삼성전자 부회장이 상속한다. 삼성그룹 경영권의 핵심으로 간주되는 삼성생명 지분의 상당 부분을 이 부 회장에게 몰아준 것은 ‘삼성물산→삼성생명→삼성전자’로 이어지는 지배 구조를 한층 강화하겠다는 의미를 담고 있다. 30일 삼성생명은 최대주주 변경 공시를 통해 이 회장의 지분 4 151만 9 180주 가운데 절반에 해당하는 2 075만 9 591주를 장남인 이 부회장이 상속했다고 밝혔다. 이에 따라 이 부회장의 삼성생명 지분율은 기존 0.06%에서 단숨에 10.44%까지 올랐다. 이 부회장은 또 삼성생명 개인 최대주주로 올라섰다. 동생인 이부진 호텔신라 사장은 1 383만 9 726주를 받아 지분율 6.92%를 이서현 삼성복지재단 이사장은 691만 9 863주를 물려받아 3.46%를 확보하게 됐다. 남매가 각각 3 대 2 대 1의 비율로 상속을 받은 것이다. 이 회장의 부인인 홍라희 전 리움미술관장은 삼성생명 지분 상속을 포기하며 이 부회장 중심 경영 체제에 힘을 실었다. 이 회장이 지분을 보유한 삼성물산·삼성전자·삼성SDS는 ‘몰아주기’ 없이 법정 비율대로 유가족에게 상속됐다. 삼성물산 지분 약 17.33%를 보유해 최대주주였던 이 부회장은 이 회장으로부터 120만 5 720주를 상속 받아 지분율이 17.97%까지 올랐다. 이 사장과 이 이사장도 거의 동일한 규모의 주식을 물려받았다. 일각에서는 이 부회장의 삼성전자 지분율이 0.7%에 불과한 만큼 가장 규모가 큰 전자 지분을 대부분 상속할 것이라는 전망도 나왔다. 하지만 삼성가 家 는 법정 비율대로 지분을 배정하는 결정을 내렸다. 이와 관련해 재계 핵심 관계자는 “유가족들이 각자의 재산권을 최대한 인정하겠다는 뜻이 반영된 것”이라고 설명했다. 이번 상속으로 홍 전 관장이 2.3%의 지분율로 개인 최대주주로 올라섰고 이 부회장은 1.63%의 지분을 갖게 됐다. 삼성SDS 지분은 이 부회장이 2 158주를 상속 받았으며 지분율은 기존의 9.2%에서 크게 달라지지 않았다. 전희윤 기자 heeyoun sedaily.com 나랑 상관있는 환경뉴스 구독 지구용 레터 서울경제 더 폴리틱스 뉴스를 만나보세요 네이버 채널에서 서울경제 구독해주세요 저작권자 ⓒ 서울경제 무단 전재 및 재배포 금지 서울경제 관련뉴스 해당 언론사에서 선정하며 언론사 페이지 아웃링크 로 이동해 볼 수 있습니다.'

In [20]:
lengths = data['content'].str.len()

In [21]:
max(lengths)

7216

In [4]:
test = data['content'].apply(lambda x : x.split('.\ '))

NameError: name 'data' is not defined

In [32]:
test = test.reset_index(drop=True)

In [40]:
test[0]

['머니투데이 윤지혜 기자 카톡 광고·쇼핑에 신사업까지 좋았다…하반기 글로벌 조준 본격화 카카오가 올 1분기 계절적 비수기에도 사상 최대 분기 실적을 달성했다',
 ' 사진 카카오 카카오가 1분기 역대급 실적 상승세를 이끌며 경쟁사 네이버 NAVER 를 바짝 따라붙었다',
 ' 네이버가 인건비 상승에 수익성 측면에서 뒷걸음질 친 반면 카카오는 광고·쇼핑 호조 속 모빌리티와 페이 등 신사업 호조로 사상 최대치를 기록하며 거침없이 성장했다',
 ' start block ━ 카카오 인건비 47% 늘었지만…카톡 광고·쇼핑 훨훨 ━ end block 6일 카카오가 공시한 1분기 성적표 연결기준 는 매출 1조2580억원과 영업이익 1575억원',
 ' 전년 동기 대비 각각 45% 79% 늘었다',
 ' 카카오의 주요 수입원인 광고·쇼핑 사업이 비수기임에도 사상 최대 분기 실적을 기록했다',
 ' 영업이익률도 12',
 '5%로 사상 최대치다',
 ' 국민 메신저 카톡을 기반으로 한 톡비즈 사업 부문이 탄탄대로를 달리는 가운데 수익성 발목을 잡았던 신사업의 영업적자가 줄면서 비용 증가를 상쇄했다는 분석이다',
 ' 실제 카카오 실적 일등 공신인 톡비즈 매출',
 ' 전년 동기 대비 61% 증가한 3615억원을 기록했다',
 ' 이는 성수기인 4분기보다도 2% 늘어난 수치다',
 ' 카톡 광고 상품인 비즈보드가 전년 동기 대비 2배 이상 성장했으며 간편가입 솔루션 카카오 싱크 확대 영향으로 카톡 채널 매출도 72% 동반 성장했다',
 ' 비대면 선물 문화 확산과 프리미엄 선물 수요 확대로 쇼핑하기·톡스토어·메이커스 등 쇼핑사업 전 부문이 고르게 성장했다',
 ' 카카오커머스 1분기 거래액만 58% 증가했다',
 ' 금융·콘텐츠·모빌리티 등 신사업을 전방위로 확대한 것도 주효했다',
 ' 돈 먹는 하마 로 여겨졌던 신사업이 궤도에 오르면서 핵심 사업부로 자리매김한 것이다',
 ' 실제 신사업 영업손실은 2018년 2099억원 2019년 1722억원 2020년 942억원으로 축소되는 추세다',
 ' 올해는 카카오페이와 카카오모빌리티의 흑자 전환이 예상된다',
 ' 박지원 교보증권 연구원은 수익이 높은 광고와 쇼핑이 고성장했고 페이·모빌리티 등 신사업 영업적자가 줄어들면서 카카오의 영업이익 개선세는 2023년까지 지속할 것 이라고 분석했다',
 ' 안재민 NH투자증권 연구원 역시 카톡 기반의 다양한 서비스가 독립적으로 트래픽을 유발하면서 수익성까지 겸비한 선순환 구조에 진입했다 고 평가했다',
 ' start block ━ 네이버 VS 카카오 확연히 줄어든 매출·영업이익 격차 ━ end block 같은 기간 네이버 매출도 1조4991억원으로 전년 동기 대비 30% 증가했다',
 ' 다만 영업이익이 2888억원으로 1% 역성장했다',
 ' 인건비 부담이 늘면서 영업비용이 40% 가까이 급증한 탓이다',
 ' 1분기 네이버가 직원들에게 지급한 주식보상비용만 709억원에 달한다',
 ' 하지만 인건비가 늘긴 카카오도 마찬가지다',
 ' 카카오는 1분기 신규 채용 확대 및 자사주 상여금 지급 등으로 인건비가 전년 동기 대비 47% 늘었다',
 ' 그만큼 카카오가 1분기에 실속 있는 장사를 더 잘했다는 얘기다',
 ' 네이버와의 실적 격차도 확 줄었다',
 ' 지난해 1분기만 해도 30% 가량 격차를 보였던 매출 규모는 19% 수준으로 좁혀졌다',
 ' 3배 달했던 영업이익 격차도 80%대에 그쳤다',
 ' 네이버의 뒤를 바짝 쫓는 형국이다',
 ' 물론 일본 야후재팬과의 경영통합에 따라 분기 6000억원에 달하는 실적집계에서 제외된 점을 감안 하더라도 카카오의 성장세가 가팔라 조만간 네이버와 어깨를 나란히 할 것이라는 관측이 힘을 얻는다',
 ' 여민수 카카오 대표는 올해 모든 사업 부문의 외형이 크게 성장해 높은 매출 성장률을 달성할 것 이라며 올해는 카카오의 해외 매출 비중이 전체 두 자릿수를 차지하는 원년 이라고 강조했다',
 ' 여 대표는 글로벌 콘텐츠 사업에 대한 자신감이 생겨 올해 글로벌 마케팅과 콘텐츠 투자를 계획 중 이라며 카카오엔터테인먼트 페이지컴퍼니는 북미 시장에서의 성공 기대감이 커진 데다 오는 6월 대만·태국에 진출하는 등 올해 글로벌 네트워크 확장에 박차를 가할 예정 이라고 강조했다',
 ' article split 윤지혜 기자 yoonjie mt',
 'co',
 'kr 부동산 투자는 부릿지 주식 투자는 부꾸미TALK 부자되는 뉴스 머니투데이 구독하기 저작권자 ⓒ 돈이 보이는 리얼타임 뉴스 머니투데이 무단전재 및 재배포 금지 머니투데이 관련뉴스 해당 언론사에서 선정하며 언론사 페이지 아웃링크 로 이동해 볼 수 있습니다',
 '']

In [41]:
len(test[0])

39

In [44]:
inputs = tokenizer(test[0][37], return_tensors='pt')

In [48]:
pt_model(**inputs)[0].shape

torch.Size([1, 111, 768])

In [49]:
pt_inputs = tokenizer(test[0][0], return_tensors='pt')
pt_outputs = pt_model(**pt_inputs)[0]
print(pt_outputs)
print(pt_outputs.shape)

tensor([[[-0.8412, -1.1904,  0.8732,  ...,  0.0773, -0.2228, -0.7471],
         [ 0.4819,  0.0794, -1.1181,  ...,  0.2327, -0.0495, -0.1974],
         [ 0.0862,  0.0378,  0.0747,  ..., -0.4474, -0.8003,  0.2836],
         ...,
         [ 0.3567,  0.5729, -1.3665,  ...,  0.0270,  0.3779, -1.0164],
         [ 0.5969, -0.8241, -1.1002,  ..., -0.4591, -0.3897,  0.0044],
         [ 0.0218, -0.0732,  0.0542,  ..., -0.0014,  0.0091,  0.0122]]],
       grad_fn=<NativeLayerNormBackward0>)
torch.Size([1, 69, 768])