## kaggle형식으로 뉴스주식데이터연계하여 학습테스트데이터셋 만들기

In [1]:
# DB package
import psycopg2
import sqlalchemy
from sqlalchemy import create_engine

In [2]:
import pandas as pd

In [3]:
engine_postgresql = create_engine("postgresql://kdtuser:kdtuser2345@121.128.163.208:25432/kdt_ai")

#### 시간측정ㅡ

In [4]:
import math 
import time
# start = time.time()
# math.factorial(100000) 
# end = time.time() 
# print(f"{end - start:.5f} sec")

#### 판다스로 읽어들이기

- 네이버종목뉴스 (488M)

In [5]:
start = time.time()
db_naver_stock_news = 'naver_stock_news'
df_naver_stock_news = pd.read_sql_table(schema='news', table_name=db_naver_stock_news, con=engine_postgresql)
end = time.time() 
print(f"{end - start:.5f} sec")

59.20395 sec

- 네이버경제뉴스 (1.5G)

In [6]:
start = time.time()
db_naver_finance_news = 'naver_finance_news'
df_naver_finance_news = pd.read_sql_table(schema='news', table_name=db_naver_finance_news, con=engine_postgresql)
end = time.time() 
print(f"{end - start:.5f} sec")

434.08248 sec

- 종목시세정보 1min (53G)

In [8]:
# start = time.time()
# db_stock_sise_1min = 'stock_sise_1min'
# df_stock_sise_1min = pd.read_sql_table(schema='stock', table_name=db_stock_sise_1min, con=engine_postgresql)
# end = time.time() 
# print(f"{end - start:.5f} sec")

In [7]:
# MariaDB에서 st02 불러오기.
start = time.time()
query = 'select * from stock.stock_sise_1min limit 1000'
mdata = pd.read_sql_query(query, con=engine_postgresql)
print(mdata.head(3))
end = time.time() 
print(f"{end - start:.5f} sec")

  base_date    단축코드      시간     종가 전일대비구분  전일대비   등락율       체결강도  매도체결수량  \
0  20220228  030000  150300  22600      5    50 -0.22  94.910004   63300
1  20220228  030000  150200  22600      5    50 -0.22  95.010002   63159
2  20220228  030000  150100  22550      5   100 -0.44  94.910004   63135

   매수체결수량  ...     고가     저가  체결량  매도체결건수시간  매수체결건수시간   매도잔량   매수잔량  시간별매도체결량  \
0   60078  ...  22600  22550  211         6         5  18392  39706       141
1   60008  ...  22600  22550  109         3         4  17716  39250        24
2   59923  ...  22600  22550  139         4         5  17756  39021        13

   시간별매수체결량     base_time
0        70  202202281503
1        85  202202281502
2       126  202202281501

[3 rows x 26 columns]
0.07246 sec

In [8]:
mdata

,base_date,단축코드,시간,종가,전일대비구분,전일대비,등락율,체결강도,매도체결수량,매수체결수량,...,고가,저가,체결량,매도체결건수시간,매수체결건수시간,매도잔량,매수잔량,시간별매도체결량,시간별매수체결량,base_time
0,20220228,030000,150300,22600,5,50,-0.22,94.910004,63300,60078,...,22600,22550,211,6,5,18392,39706,141,70,202202281503
1,20220228,030000,150200,22600,5,50,-0.22,95.010002,63159,60008,...,22600,22550,109,3,4,17716,39250,24,85,202202281502
2,20220228,030000,150100,22550,5,100,-0.44,94.910004,63135,59923,...,22600,22550,139,4,5,17756,39021,13,126,202202281501
3,20220228,030000,150000,22600,5,50,-0.22,94.730003,63122,59797,...,22600,22550,381,7,6,17660,39107,143,238,202202281500
4,20220228,030000,145900,22550,5,100,-0.44,94.570000,62979,59559,...,22600,22550,286,12,6,17627,39122,67,219,202202281459
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,20220228,030210,111000,5050,2,70,1.41,87.309998,30083,26264,...,5050,5050,0,0,0,20889,14732,0,0,202202281110
996,20220228,030210,110900,5050,2,70,1.41,87.309998,30083,26264,...,5050,5050,0,0,0,20878,14732,0,0,202202281109
997,20220228,030210,110800,5050,2,70,1.41,87.309998,30083,26264,...,5050,5050,0,0,0,20449,15538,0,0,202202281108
998,20220228,030210,110700,5050,2,70,1.41,87.309998,30083,26264,...,5050,5040,2,1,1,20452,15459,1,1,202202281107
999,20220228,030210,110600,5050,2,70,1.41,87.300003,30082,26263,...,5050,5050,0,0,0,20452,14887,0,0,202202281106

In [9]:
mdata.columns

Index(['base_date', '단축코드', '시간', '종가', '전일대비구분', '전일대비', '등락율', '체결강도',
       '매도체결수량', '매수체결수량', '순매수체결량', '매도체결건수', '매수체결건수', '순체결건수', '거래량', '시가',
       '고가', '저가', '체결량', '매도체결건수시간', '매수체결건수시간', '매도잔량', '매수잔량', '시간별매도체결량',
       '시간별매수체결량', 'base_time'],
      dtype='object')

In [5]:
from transformers import AutoModel, AutoTokenizer

/opt/conda/envs/albert/lib/python3.7/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [6]:
kb_albert_model_path = "kb-albert-char-base-v2"
pt_model = AutoModel.from_pretrained(kb_albert_model_path)
tokenizer = AutoTokenizer.from_pretrained(kb_albert_model_path)

# inference text input to sentence vector of last layer
text = '방카슈랑스는 금융의 겸업화 추세에 부응하여 금융산업의 선진화를 도모하고 금융소비자의 편익을 위하여 도입되었습니다.'
pt_inputs = tokenizer(text, return_tensors='pt')
pt_outputs = pt_model(**pt_inputs)[0]
print(pt_outputs)

Some weights of the model checkpoint at kb-albert-char-base-v2 were not used when initializing AlbertModel: ['sop_classifier.classifier.weight', 'predictions.dense.bias', 'predictions.LayerNorm.bias', 'predictions.bias', 'predictions.decoder.weight', 'predictions.LayerNorm.weight', 'predictions.dense.weight', 'sop_classifier.classifier.bias', 'predictions.decoder.bias']
- This IS expected if you are initializing AlbertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing AlbertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

tensor([[[ 0.3641,  0.0061,  0.5332,  ..., -0.1811, -0.0993, -0.8858],
         [ 0.0622,  1.0181, -0.2391,  ...,  0.3143,  0.1828, -0.2741],
         [-0.0845,  0.7681,  0.5878,  ...,  0.0679, -0.8295, -0.8495],
         ...,
         [ 0.4844, -0.3906, -0.7792,  ...,  0.2099,  0.0846,  0.2969],
         [ 0.9396, -0.3218, -0.3431,  ...,  0.3089, -0.0844,  0.0307],
         [ 0.0204, -0.0686,  0.0294,  ...,  0.0107,  0.0100,  0.0119]]],
       grad_fn=<NativeLayerNormBackward0>)

In [7]:
pt_outputs.shape

torch.Size([1, 54, 768])

In [ ]:
data1 = pd.read_csv("data/kaggletype_nlp_stocknews_202105_202106_202203041815.csv", encoding='utf-8-sig')

In [11]:
# pd.set_option("display.max_columns", None)

In [12]:
import numpy as np

In [13]:
data1.head()

,base_time,단축코드,종목명,source,title,content,종가,시가,고가,저가,전일대비,등락율,매도체결수량,매수체결수량,순매수체결량,매도체결건수,매수체결건수,순체결건수,거래량
0,202105030901,35150,백산,NaN,NaN,NaN,9220,9200,9220,9200,40,0.44,0,666,666,0,11,11,3978
1,202105030902,35150,백산,NaN,NaN,NaN,9250,9210,9250,9210,70,0.76,1313,1824,511,4,25,21,6449
2,202105030903,35150,백산,NaN,NaN,NaN,9270,9250,9300,9240,90,0.98,4409,5888,1479,14,59,45,13609
3,202105030904,35150,백산,NaN,NaN,NaN,9260,9280,9280,9240,80,0.87,8360,8193,-167,23,72,49,19865
4,202105030905,35150,백산,NaN,NaN,NaN,9340,9260,9350,9260,160,1.74,8971,17189,8218,27,94,67,29472

In [14]:
data = data1.dropna(axis=0)

In [15]:
data.reset_index()

,index,base_time,단축코드,종목명,source,title,content,종가,시가,고가,저가,전일대비,등락율,매도체결수량,매수체결수량,순매수체결량,매도체결건수,매수체결건수,순체결건수,거래량
0,28824,202105071107,35420,NAVER,머니투데이,신사업에 용트림하는 카카오…네이버와 격차 좁혔다,머니투데이 윤지혜 기자 카톡 광고·쇼핑에 신사업까지 좋았다…하반기 글로벌 조준 본격...,363000,363000,363500,363000,1500,0.41,77306,87703,10397,3929,3617,-312,170694
1,28825,202105071107,35420,NAVER,아시아경제,페이전쟁 뛰어든 금융그룹…네이버·카카오에 반격,5대 금융그룹 통합결제 플랫폼 구축 나서 가파른 성장세 보이는 간편결제 시장 공략 ...,363000,363000,363500,363000,1500,0.41,77306,87703,10397,3929,3617,-312,170694
2,28826,202105071107,35420,NAVER,서울경제,"우리은행, 네이버·연세대 손잡고 '연세페이·연세코인' 개발",권광석 오른쪽 우리은행장과 한성숙 왼쪽 네이버 대표이사 서승환 연세대학교 총장이 7...,363000,363000,363500,363000,1500,0.41,77306,87703,10397,3929,3617,-312,170694
3,28827,202105071107,35420,NAVER,이데일리,"네이버 블로그 이벤트 재개한다는데, 보상 바뀔까…“논의중”",이데일리 노재웅 기자 네이버 035420 가 ‘작심삼일’로 끝냈던 블로그 이벤트를 ...,363000,363000,363500,363000,1500,0.41,77306,87703,10397,3929,3617,-312,170694
4,28828,202105071107,35420,NAVER,매일경제,"네이버, 사흘만에 접은 블로그챌린지 이틀만에 재개 결정",네이버 블로그팀 공지 네이버가 블로그에 일기를 쓰면 네이버페이를 지급하는 이벤트를 ...,363000,363000,363500,363000,1500,0.41,77306,87703,10397,3929,3617,-312,170694
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16117,40496732,202106280943,35080,인터파크,아시아경제,"하나카드 ""6월 매주 화요일 11시 '인터파크TV'서 할인 받으세요""",하나카드 데이 라이브 방송 진행 6월 8일 첫 방송 매주 화요일 오전 11시 총 4...,5510,5530,5530,5510,50,-0.90,291725,232833,-58892,570,1221,651,554250
16118,40496733,202106280943,35080,인터파크,아시아경제,"[특징주]인터파크, 여행 수요 급증 전망에 8%대 강세",아시아경제 박지환 기자 인터파크 가 코로나19 백신 접종률 상승에 따라 여행 수요 ...,5510,5530,5530,5510,50,-0.90,291725,232833,-58892,570,1221,651,554250
16119,40496734,202106280943,35080,인터파크,파이낸셜뉴스,"인터파크투어, 여름 호캉스 추천..국내 인기 호텔 최대 88% 할인",제주 함덕해변 사진 인터파크투어 파이낸셜뉴스 성큼 다가온 여름에 더위를 피해 호캉스...,5510,5530,5530,5510,50,-0.90,291725,232833,-58892,570,1221,651,554250
16120,40496735,202106280943,35080,인터파크,파이낸셜뉴스,"인터파크, AI 가 ‘여행계획’ 세워주는 자유여행 플랫폼 개시",자유여행 플랫폼 이미지 사진 인터파크투어 파이낸셜뉴스 포스트 코로나 시대에는 소규모...,5510,5530,5530,5510,50,-0.90,291725,232833,-58892,570,1221,651,554250
16121,40496736,202106280943,35080,인터파크,헤럴드경제,"인터파크, AI 로 ‘여행계획’ 세워주는 플랫폼 오픈",‘지금 그대로 떠날 수 있는’ 여행 계획 제공 헤럴드경제 함영훈 기자 인터파크투어는...,5510,5530,5530,5510,50,-0.90,291725,232833,-58892,570,1221,651,554250

In [17]:
data[data["종목명"]=='NAVER']

,base_time,단축코드,종목명,source,title,content,종가,시가,고가,저가,전일대비,등락율,매도체결수량,매수체결수량,순매수체결량,매도체결건수,매수체결건수,순체결건수,거래량
28824,202105071107,35420,NAVER,머니투데이,신사업에 용트림하는 카카오…네이버와 격차 좁혔다,머니투데이 윤지혜 기자 카톡 광고·쇼핑에 신사업까지 좋았다…하반기 글로벌 조준 본격...,363000,363000,363500,363000,1500,0.41,77306,87703,10397,3929,3617,-312,170694
28825,202105071107,35420,NAVER,아시아경제,페이전쟁 뛰어든 금융그룹…네이버·카카오에 반격,5대 금융그룹 통합결제 플랫폼 구축 나서 가파른 성장세 보이는 간편결제 시장 공략 ...,363000,363000,363500,363000,1500,0.41,77306,87703,10397,3929,3617,-312,170694
28826,202105071107,35420,NAVER,서울경제,"우리은행, 네이버·연세대 손잡고 '연세페이·연세코인' 개발",권광석 오른쪽 우리은행장과 한성숙 왼쪽 네이버 대표이사 서승환 연세대학교 총장이 7...,363000,363000,363500,363000,1500,0.41,77306,87703,10397,3929,3617,-312,170694
28827,202105071107,35420,NAVER,이데일리,"네이버 블로그 이벤트 재개한다는데, 보상 바뀔까…“논의중”",이데일리 노재웅 기자 네이버 035420 가 ‘작심삼일’로 끝냈던 블로그 이벤트를 ...,363000,363000,363500,363000,1500,0.41,77306,87703,10397,3929,3617,-312,170694
28828,202105071107,35420,NAVER,매일경제,"네이버, 사흘만에 접은 블로그챌린지 이틀만에 재개 결정",네이버 블로그팀 공지 네이버가 블로그에 일기를 쓰면 네이버페이를 지급하는 이벤트를 ...,363000,363000,363500,363000,1500,0.41,77306,87703,10397,3929,3617,-312,170694
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41532,202106301120,35420,NAVER,한경비즈니스,네이버 경영쇄신안에도 비판 고조...ESG경영 어쩌나,28일 오전 경기 성남시 분당구 네이버 본사에서 네이버 동료 사망 사건 관련 노동조...,423000,422500,423500,422500,11500,2.79,179091,271590,92499,5917,7335,1418,473509
41533,202106301120,35420,NAVER,이데일리,"삼성생명, 네이버클라우드 ‘디지털 금융 혁신’ 위한 MOU 체결",AI 금융 결합 통한 새로운 서비스 기대 이데일리 전선형 기자 삼성생명은 29일 클...,423000,422500,423500,422500,11500,2.79,179091,271590,92499,5917,7335,1418,473509
41534,202106301120,35420,NAVER,서울경제,"네이버, OTT 티빙에 지분투자··· 오리지널 콘텐츠 늘리고 사업 확...",티빙 로고. 사진 제공 CJ ENM 서울경제 CJ ENM 035760 은 자회사인 ...,423000,422500,423500,422500,11500,2.79,179091,271590,92499,5917,7335,1418,473509
41535,202106301120,35420,NAVER,이데일리,"네이버, 티빙(TVING)에 400억 지분투자…2023년 800만 가...",네이버 JTBC 스튜디오에 이어 티빙 지분투자 26만주 획득..지분율 15.4% 확...,423000,422500,423500,422500,11500,2.79,179091,271590,92499,5917,7335,1418,473509
41536,202106301120,35420,NAVER,매경이코노미,"이베이 인수 이마트, 네이버·쿠팡과 新3강…게임 체인저 vs 승자의 저...",G마켓 옥션을 운영하는 이베이코리아가 신세계그룹에 인수되며 유통 업계 판도가 크게 ...,423000,422500,423500,422500,11500,2.79,179091,271590,92499,5917,7335,1418,473509

In [19]:
data['content'].max()

'李부회장 지분율 10.4%로 확대 개인 최대주주로 경영승계 공식화 삼성물산·전자·SDS의 지분은 법정 비율대로 유가족에게 상속 서울경제 고 故 이건희 삼성그룹 회장이 보유한 삼성생명 지분의 절반을 이재용 삼성전자 부회장이 상속한다. 삼성그룹 경영권의 핵심으로 간주되는 삼성생명 지분의 상당 부분을 이 부 회장에게 몰아준 것은 ‘삼성물산→삼성생명→삼성전자’로 이어지는 지배 구조를 한층 강화하겠다는 의미를 담고 있다. 30일 삼성생명은 최대주주 변경 공시를 통해 이 회장의 지분 4 151만 9 180주 가운데 절반에 해당하는 2 075만 9 591주를 장남인 이 부회장이 상속했다고 밝혔다. 이에 따라 이 부회장의 삼성생명 지분율은 기존 0.06%에서 단숨에 10.44%까지 올랐다. 이 부회장은 또 삼성생명 개인 최대주주로 올라섰다. 동생인 이부진 호텔신라 사장은 1 383만 9 726주를 받아 지분율 6.92%를 이서현 삼성복지재단 이사장은 691만 9 863주를 물려받아 3.46%를 확보하게 됐다. 남매가 각각 3 대 2 대 1의 비율로 상속을 받은 것이다. 이 회장의 부인인 홍라희 전 리움미술관장은 삼성생명 지분 상속을 포기하며 이 부회장 중심 경영 체제에 힘을 실었다. 이 회장이 지분을 보유한 삼성물산·삼성전자·삼성SDS는 ‘몰아주기’ 없이 법정 비율대로 유가족에게 상속됐다. 삼성물산 지분 약 17.33%를 보유해 최대주주였던 이 부회장은 이 회장으로부터 120만 5 720주를 상속 받아 지분율이 17.97%까지 올랐다. 이 사장과 이 이사장도 거의 동일한 규모의 주식을 물려받았다. 일각에서는 이 부회장의 삼성전자 지분율이 0.7%에 불과한 만큼 가장 규모가 큰 전자 지분을 대부분 상속할 것이라는 전망도 나왔다. 하지만 삼성가 家 는 법정 비율대로 지분을 배정하는 결정을 내렸다. 이와 관련해 재계 핵심 관계자는 “유가족들이 각자의 재산권을 최대한 인정하겠다는 뜻이 반영된 것”이라고 설명했다. 이번 상속으로 홍 전 관장이 2.3%의 지분율로 개인 최대주주로 올라섰고 이 부회장은 1.63%의 지분을 갖게 됐다. 삼성SDS 지분은 이 부회장이 2 158주를 상속 받았으며 지분율은 기존의 9.2%에서 크게 달라지지 않았다. 전희윤 기자 heeyoun sedaily.com 나랑 상관있는 환경뉴스 구독 지구용 레터 서울경제 더 폴리틱스 뉴스를 만나보세요 네이버 채널에서 서울경제 구독해주세요 저작권자 ⓒ 서울경제 무단 전재 및 재배포 금지 서울경제 관련뉴스 해당 언론사에서 선정하며 언론사 페이지 아웃링크 로 이동해 볼 수 있습니다.'

In [20]:
lengths = data['content'].str.len()

In [21]:
max(lengths)

7216

In [31]:
test = data['content'].apply(lambda x : x.split('.'))

In [32]:
test = test.reset_index(drop=True)

In [40]:
test[0]

['머니투데이 윤지혜 기자 카톡 광고·쇼핑에 신사업까지 좋았다…하반기 글로벌 조준 본격화 카카오가 올 1분기 계절적 비수기에도 사상 최대 분기 실적을 달성했다',
 ' 사진 카카오 카카오가 1분기 역대급 실적 상승세를 이끌며 경쟁사 네이버 NAVER 를 바짝 따라붙었다',
 ' 네이버가 인건비 상승에 수익성 측면에서 뒷걸음질 친 반면 카카오는 광고·쇼핑 호조 속 모빌리티와 페이 등 신사업 호조로 사상 최대치를 기록하며 거침없이 성장했다',
 ' start block ━ 카카오 인건비 47% 늘었지만…카톡 광고·쇼핑 훨훨 ━ end block 6일 카카오가 공시한 1분기 성적표 연결기준 는 매출 1조2580억원과 영업이익 1575억원',
 ' 전년 동기 대비 각각 45% 79% 늘었다',
 ' 카카오의 주요 수입원인 광고·쇼핑 사업이 비수기임에도 사상 최대 분기 실적을 기록했다',
 ' 영업이익률도 12',
 '5%로 사상 최대치다',
 ' 국민 메신저 카톡을 기반으로 한 톡비즈 사업 부문이 탄탄대로를 달리는 가운데 수익성 발목을 잡았던 신사업의 영업적자가 줄면서 비용 증가를 상쇄했다는 분석이다',
 ' 실제 카카오 실적 일등 공신인 톡비즈 매출',
 ' 전년 동기 대비 61% 증가한 3615억원을 기록했다',
 ' 이는 성수기인 4분기보다도 2% 늘어난 수치다',
 ' 카톡 광고 상품인 비즈보드가 전년 동기 대비 2배 이상 성장했으며 간편가입 솔루션 카카오 싱크 확대 영향으로 카톡 채널 매출도 72% 동반 성장했다',
 ' 비대면 선물 문화 확산과 프리미엄 선물 수요 확대로 쇼핑하기·톡스토어·메이커스 등 쇼핑사업 전 부문이 고르게 성장했다',
 ' 카카오커머스 1분기 거래액만 58% 증가했다',
 ' 금융·콘텐츠·모빌리티 등 신사업을 전방위로 확대한 것도 주효했다',
 ' 돈 먹는 하마 로 여겨졌던 신사업이 궤도에 오르면서 핵심 사업부로 자리매김한 것이다',
 ' 실제 신사업 영업손실은 2018년 2099억원 2019년 1722억원 2020년 942억원으로 축소되는 추세다',
 ' 올해는 카카오페이와 카카오모빌리티의 흑자 전환이 예상된다',
 ' 박지원 교보증권 연구원은 수익이 높은 광고와 쇼핑이 고성장했고 페이·모빌리티 등 신사업 영업적자가 줄어들면서 카카오의 영업이익 개선세는 2023년까지 지속할 것 이라고 분석했다',
 ' 안재민 NH투자증권 연구원 역시 카톡 기반의 다양한 서비스가 독립적으로 트래픽을 유발하면서 수익성까지 겸비한 선순환 구조에 진입했다 고 평가했다',
 ' start block ━ 네이버 VS 카카오 확연히 줄어든 매출·영업이익 격차 ━ end block 같은 기간 네이버 매출도 1조4991억원으로 전년 동기 대비 30% 증가했다',
 ' 다만 영업이익이 2888억원으로 1% 역성장했다',
 ' 인건비 부담이 늘면서 영업비용이 40% 가까이 급증한 탓이다',
 ' 1분기 네이버가 직원들에게 지급한 주식보상비용만 709억원에 달한다',
 ' 하지만 인건비가 늘긴 카카오도 마찬가지다',
 ' 카카오는 1분기 신규 채용 확대 및 자사주 상여금 지급 등으로 인건비가 전년 동기 대비 47% 늘었다',
 ' 그만큼 카카오가 1분기에 실속 있는 장사를 더 잘했다는 얘기다',
 ' 네이버와의 실적 격차도 확 줄었다',
 ' 지난해 1분기만 해도 30% 가량 격차를 보였던 매출 규모는 19% 수준으로 좁혀졌다',
 ' 3배 달했던 영업이익 격차도 80%대에 그쳤다',
 ' 네이버의 뒤를 바짝 쫓는 형국이다',
 ' 물론 일본 야후재팬과의 경영통합에 따라 분기 6000억원에 달하는 실적집계에서 제외된 점을 감안 하더라도 카카오의 성장세가 가팔라 조만간 네이버와 어깨를 나란히 할 것이라는 관측이 힘을 얻는다',
 ' 여민수 카카오 대표는 올해 모든 사업 부문의 외형이 크게 성장해 높은 매출 성장률을 달성할 것 이라며 올해는 카카오의 해외 매출 비중이 전체 두 자릿수를 차지하는 원년 이라고 강조했다',
 ' 여 대표는 글로벌 콘텐츠 사업에 대한 자신감이 생겨 올해 글로벌 마케팅과 콘텐츠 투자를 계획 중 이라며 카카오엔터테인먼트 페이지컴퍼니는 북미 시장에서의 성공 기대감이 커진 데다 오는 6월 대만·태국에 진출하는 등 올해 글로벌 네트워크 확장에 박차를 가할 예정 이라고 강조했다',
 ' article split 윤지혜 기자 yoonjie mt',
 'co',
 'kr 부동산 투자는 부릿지 주식 투자는 부꾸미TALK 부자되는 뉴스 머니투데이 구독하기 저작권자 ⓒ 돈이 보이는 리얼타임 뉴스 머니투데이 무단전재 및 재배포 금지 머니투데이 관련뉴스 해당 언론사에서 선정하며 언론사 페이지 아웃링크 로 이동해 볼 수 있습니다',
 '']

In [41]:
len(test[0])

39

In [44]:
inputs = tokenizer(test[0][37], return_tensors='pt')

In [48]:
pt_model(**inputs)[0].shape

torch.Size([1, 111, 768])

In [49]:
pt_inputs = tokenizer(test[0][0], return_tensors='pt')
pt_outputs = pt_model(**pt_inputs)[0]
print(pt_outputs)
print(pt_outputs.shape)

tensor([[[-0.8412, -1.1904,  0.8732,  ...,  0.0773, -0.2228, -0.7471],
         [ 0.4819,  0.0794, -1.1181,  ...,  0.2327, -0.0495, -0.1974],
         [ 0.0862,  0.0378,  0.0747,  ..., -0.4474, -0.8003,  0.2836],
         ...,
         [ 0.3567,  0.5729, -1.3665,  ...,  0.0270,  0.3779, -1.0164],
         [ 0.5969, -0.8241, -1.1002,  ..., -0.4591, -0.3897,  0.0044],
         [ 0.0218, -0.0732,  0.0542,  ..., -0.0014,  0.0091,  0.0122]]],
       grad_fn=<NativeLayerNormBackward0>)
torch.Size([1, 69, 768])